# Python Virtual Env
venv/
logs/

# Python build distribution
dist/
*.egg-info/
build/

# Python Cache
main_directory/__pycache__
main_directory/test/__pycache__

# Idea Config
.idea/

# Makefile dummy docker files
mysql-docker-image
mysql-docker-container